body{
    margin:0;
    padding: 0;
    background-image: linear-gradient(to bottom , rgb(255, 255, 255), rgb(0, 26, 56)); 
}
.a{
    list-style: none;
    padding: 1px 1px;
    background-color:rgb(0, 26, 56);
    color: #74b2cf;
}
.b{
    list-style: none;
    padding: 1px 1px;
    background-color: #74b2cf;
}
h1{
    font-family: Brush Script MT ;
}
div.b ul li {
    display: inline-block;
}
ul li a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 10px;
}

ul li a:hover{
    background-color: darkgrey;
}
button {
    width: 150px;
    height: 80px;
    background-color: rgb(0, 26, 56); 
    border: 2px solid #000000;
    color: #74b2cf;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.c {
    position: relative;
    left: 10px;
    flex-direction: row;
    justify-content: space-between;
}
a{
    display: inline-block;
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 10px;

}
p{
    font-size: large;
}
img{
    position: relative;
    width: auto;
    height: 200px;
}
